{% extends 'main.html' %}

{% block content %}

<main class="flex pt-4 pl-8 pr-8 pb-4 h-[57rem] bg-gray-900">
  <div class="w-2/5 bg-gray-900 rounded-tl-md rounded-bl-md">
    <div class="h-20 bg-gray-900 p-4">
      <div class="flex w-full justify-between items-center">
          <div>
              <p class="text-teal-400">Game Room</p>
              <p class="text-teal-400">{{room_count}} Active Rooms</p>
          </div>
          <div>
            <a class="btn btn-wide flex items-center bg-teal-400 border-teal-500 hover:bg-teal-500 hover:border-teal-700" href="{% url 'create-room' %}">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                  <title>add</title>
                  <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
              </svg>
              Create Room
          </a>
          </div>
      </div>
  </div>
  <div id="room_list_container">
    {% include 'room/room_list.html' %}
  </div>
  </div>
  <div class="w-3/5 bg-gray-900 p-4 rounded-tr-md rounded-br-md">
    {% include 'chat/chat.html' %}
  </div>

</main>

{% endblock %}