{% extends 'main.html' %}

{% block content %}
<main>

  {% if page == 'login' %}
  <body class="font-inter overflow-hidden">
    <section class="flex justify-center relative">
      <img src="https://pagedone.io/asset/uploads/1702362010.png" alt="gradient background image" class="w-full h-full object-cover fixed">
      <div class="mx-auto max-w-lg px-6 lg:px-8 absolute py-20">
        <img src="https://pagedone.io/asset/uploads/1702362108.png" alt="pagedone logo" class="mx-auto lg:mb-11 mb-8">
        <div class="rounded-2xl bg-white shadow-xl">
          <form action="" class="lg:p-11 p-7 mx-auto" method="POST">
            {% csrf_token %}
            <div class="mb-11">
              <h1 class="text-gray-900 text-center font-manrope text-3xl font-bold leading-10 mb-2">Welcome Back</h1>
              <p class="text-gray-500 text-center text-base font-medium leading-6">ft_transcendence login page</p>
            </div>
            <!-- <input type="text" class="w-full h-12 text-gray-900 placeholder:text-gray-400 text-lg font-normal leading-7 rounded-full border-gray-300 border shadow-sm focus:outline-none px-4 mb-6" placeholder="Username"> -->
            <input id="username" name="email" type="email" class="w-full h-12 text-gray-900 placeholder:text-gray-400 text-lg font-normal leading-7 rounded-full border-gray-300 border shadow-sm focus:outline-none px-4 mb-6" placeholder="email">
            <input id="password" name="password" type="password" class="w-full h-12 text-gray-900 placeholder:text-gray-400 text-lg font-normal leading-7 rounded-full border-gray-300 border shadow-sm focus:outline-none px-4 mb-1" placeholder="Password">
            <a href="javascript:;" class="flex justify-end mb-6">
              <span class="text-indigo-600 text-right text-base font-normal leading-6">Forgot Password?</span>
            </a>
            <button type="submit" class="w-full h-12 text-white text-center text-base font-semibold leading-6 rounded-full hover:bg-indigo-800 transition-all duration-700 bg-indigo-600 shadow-sm mb-11">Login</button>
            <a href="{% url 'register' %}" class="flex justify-center text-gray-900 text-base font-medium leading-6"> Don’t have an account? <span class="text-indigo-600 font-semibold pl-3"> Sign Up</span>
            </a>
          </form>
        </div>
      </div>
    </section>
  </body>
                                            
  {% else %}

  <body class="font-inter overflow-hidden">
    <section class="flex justify-center relative">
      <img src="https://pagedone.io/asset/uploads/1702362010.png" alt="gradient background image" class="w-full h-full object-cover fixed">
      <div class="mx-auto max-w-lg px-6 lg:px-8 absolute py-20">
        <img src="https://pagedone.io/asset/uploads/1702362108.png" alt="pagedone logo" class="mx-auto lg:mb-11 mb-8">
        <div class="rounded-2xl bg-white shadow-xl">
          <form action="" class="lg:p-11 p-7 mx-auto" method="POST">
            {% csrf_token %}
            <div class="mb-11">
              <h1 class="text-gray-900 text-center font-manrope text-3xl font-bold leading-10 mb-2">Register</h1>
              <p class="text-gray-500 text-center text-base font-medium leading-6">ft_transcendence Sign Up page</p>
            </div>
            <input type="text" name="name" maxlength="200" required id="id_name" class="w-full h-12 text-gray-900 placeholder:text-gray-400 text-lg font-normal leading-7 rounded-full border-gray-300 border shadow-sm focus:outline-none px-4 mb-1" placeholder="Your Name">
            <input type="text" name="username" maxlength="200" required id="id_username" class="w-full h-12 text-gray-900 placeholder:text-gray-400 text-lg font-normal leading-7 rounded-full border-gray-300 border shadow-sm focus:outline-none px-4 mb-1" placeholder="Username">
            <input type="email" name="email" maxlength="254" autofocus required id="id_email" class="w-full h-12 text-gray-900 placeholder:text-gray-400 text-lg font-normal leading-7 rounded-full border-gray-300 border shadow-sm focus:outline-none px-4 mb-1" placeholder="email">
            <input type="password" name="password1" autocomplete="new-password" required id="id_password1" class="w-full h-12 text-gray-900 placeholder:text-gray-400 text-lg font-normal leading-7 rounded-full border-gray-300 border shadow-sm focus:outline-none px-4 mb-1" placeholder="Password">
            <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2" class="w-full h-12 text-gray-900 placeholder:text-gray-400 text-lg font-normal leading-7 rounded-full border-gray-300 border shadow-sm focus:outline-none px-4 mb-1" placeholder="Confirm Password">

            <button type="submit" class="w-full h-12 text-white text-center text-base font-semibold leading-6 rounded-full hover:bg-indigo-800 transition-all duration-700 bg-indigo-600 shadow-sm mb-11">Sign Up</button>
            <a href="{% url 'login' %}" class="flex justify-center text-gray-900 text-base font-medium leading-6"> Already have an account? <span class="text-indigo-600 font-semibold pl-3"> Login</span>
            </a>
          </form>
        </div>
      </div>
    </section>
  </body>
  {% endif %}
</main>
{% endblock content %}